img {
  height: 92px;
  width: 272px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 195px;
  padding-left: 505px;
}

body {
  
  background-color: white;
    
  }

input {

  height: 47px;
  position: relative;
  left: 356px;
  width: 585px;
  font-size: 16px;
  border-radius: 45px;
  text-decoration: none;
              
     }

.Buttonp {

  width: 150px;
  height: 35px;
  margin-top: 25px;
  margin-left: 120px;
  margin-right: -110px;
  font-size: 13px;
  display: inline-block;
  border-radius: 8px;
  background-color: #f3f3f3;
  

}
/* Para despues
.Buttonp1 {
  width: 150px;
  height: 27px; 
  margin-top: 25px;
  margin-right: 200px;
  font-size: 14px;
}
*/

ul {
  list-style-type: none;
  position: relative;
  margin: 0px;
  padding: 0;
  overflow: hidden;
  color: #666;
}

.topbar1 {
  float: right;
  margin-right: 150px;

}

.topbar2 {
  float: right;
  margin-left: 150px;

}

li a{
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 7px;
  text-decoration: none;
}

.style {
  margin-top: 272px;
  margin-bottom: auto;
  padding: 25px 25px;
  float: left;
  background-color: #f3f3f3;
  border: 1px #e7e7e7;
  color: #666;
  font-size:15px;
}

.style2 {
  margin-top: 272px;
  margin-bottom: auto;
  padding: 25px 25px;
  float: right;
  background-color: #f3f3f3;
  border: 1px #e7e7e7;
  color: #666;
  font-size: 15px;
}


