img {
  height: 92px;
  width: 272px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 195px;
  padding-left: 505px;
}

body {
  background-color: white;   
  }

input {
  height: 47px;
  position: relative;
  left: 356px;
  width: 585px;
  font-size: 16px;
  border-radius: 45px;
  text-decoration: none;          
     }

.Buttonp {

  width: 150px;
  height: 35px;
  margin-top: 25px;
  margin-left: 120px;
  margin-right: -110px;
  font-size: 13px;
  display: inline-block;
  border-radius: 8px;
  background-color: #f4f4f4;
  color: #5f6368;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  }
ul.topnav li {float: right;}

ul.topnav li a {
  display: blocK;
  color: black;
  text-align: center;
  padding-top: 14px;
  padding-right: 0px;
  margin-right: 120px;
  margin-left: -96px; 
  text-decoration: none;
}

ul.botbar {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #f2f2f2;
  margin-top: 232px;
  margin-left: -27px;
  margin-right: 0px;
  border-bottom: 1px solid #e4e4e4;
  padding-top: 30px; 
  padding-bottom: 30px;
  }

ul.botbar li a {
  display: blocK;
  color: #5f6368;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  padding-left: 27px;
  text-decoration: none;
  font-family: Arial, sans-serif;

}

ul.botbar li {float: left;}

ul.botbar li.right {float: right;}



